<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order, <%= @order.email %></h1>
    <p>
      Your order....<br>
    </p>
    <p>Visit us again!</p>
  </body>
</html>